.container.block-colors-type
    .logo-header
    .wrapper.block-position-colors-name
        .block-color.rectangle-color1
        .color-name
            b Dark Shade 100%
            br
            | #1F2041
        .block-color.rectangle-color2
        .color-name
            b Dark Shade 75%
            br
            | #1F2041
        .block-color.rectangle-color3
        .color-name
            b Dark Shade 50%
            br
            |#1F2041
        .block-color.rectangle-color4
        .color-name
            b Dark Shade 25%
            br
            |#1F2041
        .block-color.rectangle-color5
        .color-name
            b Dark Shade 5%
            br
            |#1F2041
        .block-color.rectangle-color6
        .color-name
            b Purple
            br
            |#BC9CFF
        .block-color.rectangle-color7
        .color-name
            b Green
            br
            |#6FCF97
    .wrapper-tag-name.tag-name-position
        h1.block-tag-name.tag-h1 H1
        p.block-description-tag.header-style-h1 This one is the sub-section or widget title
        h2.block-tag-name.tag-h2 H2
        p.block-description-tag.style-tag-h2 Next one is the item title inside widgets
        h3.block-tag-name.tag-h3 H3
        p.block-description-tag.style-tag-h3 this is a label or cta text
        p.block-tag-name.tag-body Body
        p.block-description-tag.style-tag-body this is the body text which is used for most of the design, like paragraphs,lists, etc.